{
  "directory": "/home/art/_private/stan",
  "username": "art.vandelay@vandelayindustries.com",
  "password": "mysupersecretpassword",
  "from": "\"Art Vandelay\" <art.vandelay@vandelayindustries.com>",
  "to": "burt.harbinson@importerexporter.com"
}